@charset "UTF-8";

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #646464;
    margin: 0px;
    }

header {
    background-color: #ffffff;
    padding: 10px;
    margin: 10px;
}

nav {
    background-color: #928f8f;
    padding: 1px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.651);
}

nav > a {
    margin-right: 30px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

nav > a:hover {
    text-decoration: underline;
    color: black;
}

main{
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 15px 0px;
    box-shadow: 2px 2px 4px #0000004b;
}

article {
    background-color: #dbdbdb;
    padding: 5px;
}


article > aside {
    background-color: #929292;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    margin: auto;
    padding: 1px;
}

footer > p{
    margin: 0px;
}

div#bola{
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    margin: 15px;
    border-radius: 50%;
}