@charset "UTF-8";


body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: black;
    }

h1{
    color: #915050;
    background-color: #fdffa0;
    t
    }

h2{
    color: #7dff93;
    }

p{
    text-align: justify;
    color: #8a2be2;
    }